.invisible{font-size: 0em;position: fixed;}
/*MENU PRINCIPAL*/
.logo-cidtrix{width: 90px;height: 25px;}
.main_menu{
    background-color: rgba(2,2,2,0.7) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}
.menu-principal-lista{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 1.8rem;
}
@media(max-width: 768px){
    .menu-principal-lista{
        background-color: rgba(2,2,2,1) !important;
    }
}
.menu-principal-lista li > a{
    color: #fff !important;
}
@media(max-width: 991px){
    .menu-principal-lista li{
        border-bottom: 1px solid #000;
        border-top: 1px solid #3c3c3c;
    }
}
.menu-principal-lista li:hover > a, .menu-principal-lista li:hover{
    background-color: rgba(255,255,255,0.88);
    color: #000 !important;
    transition: ease-in-out 0.5s;
}

/*PRIMEIRA DOBRA*/
.main_cabecalho{
    background-image: url(../img/main_cabecalho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main_cabecalho article{
    margin-top: 55vh;
    line-height: 1;
    transform: translateY(-45%);
}
.main_cabecalho_titulo, .main_cabecalho_subtitulo{
    text-align: center;
    color: #fff;
}
.main_cabecalho_titulo mark{
    background-color: #fb0b0b;
    color: #fff;
    border-radius: 5px !important;
}
.main_cabecalho_subtitulo mark{
    background: none;
    color: #03fb5b;
}
.main_cabecalho_titulo > h1{
    margin: 10px 10px !important;
    font-size: 5.6rem;
}
.main_cabecalho_subtitulo{
    margin-top: 20px;
    font-size: 5.6rem;
}
@media (max-width: 767px){
    .main_cabecalho_titulo > h1, .main_cabecalho_subtitulo > p{
        font-size: 2.24rem;
    }
}
@media (min-width: 768px){
    .main_cabecalho_titulo > h1, .main_cabecalho_subtitulo > p{
        font-size: 4rem;
    }
}
@media (min-width: 992px){
    .main_cabecalho_titulo > h1, .main_cabecalho_subtitulo > p{
        font-size: 4.8rem;
    }
}
@media (min-width: 1200px){
    .main_cabecalho_titulo > h1, .main_cabecalho_subtitulo > p{
        font-size: 5.6rem;
    }
}

/*SOLUÇÕES*/
@media(min-width: 992px){
    .main_solucoes article{
        height: 250px;
    }
}
.main_solucoes{
    margin-top: 25px;
}
.main_solucoes_header{
    margin-bottom: 20px;
}
.main_solucoes_titulo{
    font-weight: bolder;
}
.main_solucoes_subtitulo{
    font-size: 2rem;
}
.main_solucoes img{
    padding: 15px;
}
.main_solucoes article:hover{
    background: #eee;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.main_solucoes article:hover hr{
    border-top-color: #fff !important;
    transition: ease-in-out 0.5s;
}

/*ENTRE EM CONTATO*/
.main_contato1{
    margin-top: 30px;
    background-image: url(../img/main-contato1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.main_contato1 aside{
    margin-top: 30vh;
    line-height: 1;
    font-weight: lighter;
    color: #f3d6d6;
    transform: translateY(-45%);
}
.main_contato1 h2{
    font-size: 6rem !important;
}
@media(max-width: 767px){
    .main_contato1 h2{
        font-size: 3.3rem !important;
    }
}
.contato1-txt1{
    padding-left: 10px;
    float: left !important;
}
.contato1-txt2{
    padding-right: 10px;
    float: right !important;
}

/*SOBRE NÓS*/
.main_sobre{
    margin-top: 30px;
}
.main_sobre h1{
    font-weight: 700;
    font-size: 5rem;
}
.main_sobre p{
    font-size: 2rem;
    color: #777;
}
@media(max-width: 991px){
    .main_sobre p{
        font-size: 2rem;
    }
    .main_sobre h1{
        font-size: 4rem;
    }
}
/*WEBSITES E MARKETING DIGITAL*/
.main_websites, .main_marketing_digital{
    margin-top: 85px;
}
.main_websites .banner{
    padding: 0 !important;
    background-color: #a00b0b;
    height: 80px;
}
.main_websites .banner-title{
    border: solid 15px #a00b0b;
    height: 110px;
    margin-top: -15px;
}
.main_marketing_digital .banner{
    padding: 0 !important;
    background-color: #f11b1b;
    height: 80px;
}
.main_marketing_digital .banner-title{
    border: solid 15px #f11b1b;
    height: 110px;
    margin-top: -15px;
}

.main_websites h1, .main_marketing_digital h1{
    color: #fff;
}
.banner-right{
    border-left: 15px solid #fff;
}
.banner-left{
    border-right: 15px solid #fff;
}
@media(max-width: 991px){
    .banner-right{
        border-left: 8px solid #fff !important;
    }
    .banner-left{
        border-right: 8px solid #fff !important;
    }
}
@media(max-width: 767px){
    .banner{
        height: 60px;
    }
    .banner-title{
        height: 70px;
        margin-top: -5px;
    }
    .banner-title h1{
        font-size: 1.4rem;
        margin-top: 30px !important;
    }
}
/*WEBSITES E MARKETING DIGITAL - CORPO*/
.websites_img{
    margin-top: 30px;
}
.websites_img .carousel-control.left, .websites_img .carousel-control.right{
    background-image: none !important;
}
.websites_img .carousel-control.left > span, .websites_img .carousel-control.right > span{
    color: red !important;
}
.carousel-text{
    margin-top: 8px;
    padding: 4px 8px 4px 8px;
    background-color: #eee;
}
.item img{
    margin-top: 15px;
}
#slideWeb, #slideMarketing{
    border: 1px solid #eee;
    border-radius: 5px;
}
